# Berkenalan Singkat Dengan Minilake

## Sepintas Mengenai Sistem Operasi

In [ ]:
! cat /etc/os-release

In [ ]:
! whoami

In [ ]:
! pwd

In [ ]:
!ls -lah

## Tentang Spark

In [ ]:
spark

In [ ]:
spark.conf.get("spark.app.name")

In [ ]:
spark.conf.get("spark.master")

In [ ]:
spark.conf.get("spark.sql.catalogImplementation")

In [ ]:
spark.catalog.currentCatalog()

In [ ]:
spark.conf.get("spark.sql.catalog.minilake.uri")

## Say Hello to Iceberg

Menampilkan semua catalog yang ada pada Iceberg

In [ ]:
%%sql

SHOW CATALOGS

Menampilkan semua database pada Iceberg

In [ ]:
%%sql

SHOW DATABASES

### Membuat Database dan Table

In [ ]:
%%sql
    
CREATE DATABASE IF NOT EXISTS sample

In [ ]:
%%sql

SHOW DATABASES

Membuat tabel  `weather`

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS sample.weather (
    datetime              timestamp,
    temp                  double,
    lat                   double,
    long                  double,
    cloud_coverage        string,
    precip                double,
    wind_speed            double
)
USING iceberg
PARTITIONED BY (days(datetime))

In [ ]:
%%sql
DESCRIBE TABLE EXTENDED sample.weather

In [ ]:
%%sql

SELECT * FROM sample.weather

Mengupload contoh data dari dataframe

In [ ]:
from datetime import datetime

schema = spark.table("sample.weather").schema

data = [
    (datetime(2023,8,16), 76.2, 40.951908, -74.075272, "Partially sunny", 0.0, 3.5),
    (datetime(2023,8,17), 82.5, 40.951908, -74.075272, "Sunny", 0.0, 1.2),
    (datetime(2023,8,18), 70.9, 40.951908, -74.075272, "Cloudy", .5, 5.2)
  ]

df = spark.createDataFrame(data, schema)
df.writeTo("sample.weather").append()

In [ ]:
%%sql

SELECT * FROM sample.weather

Agregasi sederhana

In [ ]:
%%sql

SELECT cloud_coverage, count(*), sum(temp), avg(precip)
FROM sample.weather
GROUP BY cloud_coverage
ORDER BY cloud_coverage